$assetsPath: './assets';

$font: 'Montserrat', sans-serif;

$color-font: white;

$color-primary: #F7C70D;
$color-primary-light: #FFD634;
$color-primary-dark: #E0B60E;

$stone-blue: #0099ff;
$stone-red: #ff0000;
$stone-green: #08ee00;
$stone-yellow: #ecdd00;
$stone-orange: #ec8600;
$stone-purple: #d600d6;